<a href="https://colab.research.google.com/github/wlans01/ML-study/blob/main/%EA%B8%B0%EB%A7%90%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 전처리

In [48]:
import numpy
import pandas as pd
import torch
from torch import nn
from torch.utils.data import DataLoader
from torchvision import datasets
from torchvision.transforms import ToTensor, Lambda, Compose
import matplotlib.pyplot as plt

In [32]:
train_df=pd.read_csv("train.csv")
test_df=pd.read_csv("test.csv")

In [33]:
test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [34]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [35]:
# Survived가 생존여부

# Pclass(객실등급) Sex(성별) Age(나이) sibsp(동반인수) parch(동반인수2) embarked(승선항) 6개의 변수

In [36]:
# 사용하지 않는 변수 제거
train_df = train_df.drop(['Ticket', 'Cabin','Name','PassengerId','Fare'], axis=1)
test_df = test_df.drop(['Ticket', 'Cabin','Name','Fare'], axis=1)

In [37]:
# male = 0 female = 1 변경
train_df['Sex']=train_df['Sex'].replace("male",0)
train_df['Sex']=train_df['Sex'].replace("female",0)
test_df['Sex']=test_df['Sex'].replace("male",0)
test_df['Sex']=test_df['Sex'].replace("female",0)

In [38]:
# 승선항 c=0 ,Q=1, s=2
train_df['Embarked'] = train_df['Embarked'].replace('C',0)
train_df['Embarked'] = train_df['Embarked'].replace('Q',1)
train_df['Embarked'] = train_df['Embarked'].replace('S',2)
test_df['Embarked'] = test_df['Embarked'].replace('C',0)
test_df['Embarked'] = test_df['Embarked'].replace('Q',1)
test_df['Embarked'] = test_df['Embarked'].replace('S',2)

In [39]:
# Age 와 Embbarked의 null값을 해결해야함
train_df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Embarked      2
dtype: int64

In [40]:
# 평균값으로 null 채우기
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean()) 
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean()) 
train_df['Embarked'] = train_df['Embarked'].fillna(train_df['Age'].mean()) 
test_df['Embarked'] = test_df['Embarked'].fillna(test_df['Age'].mean())

In [41]:
# 나이 그룹화하기
train_df.loc[ train_df['Age'] <= 10, 'Age_group'] = 0
train_df.loc[(train_df['Age'] > 10) & (train_df['Age'] <= 16), 'Age_group'] = 1
train_df.loc[(train_df['Age'] > 16) & (train_df['Age'] <= 20), 'Age_group'] = 2
train_df.loc[(train_df['Age'] > 20) & (train_df['Age'] <= 26), 'Age_group'] = 3
train_df.loc[(train_df['Age'] > 26) & (train_df['Age'] <= 30), 'Age_group'] = 4
train_df.loc[(train_df['Age'] > 30) & (train_df['Age'] <= 36), 'Age_group'] = 5
train_df.loc[(train_df['Age'] > 36) & (train_df['Age'] <= 40), 'Age_group'] = 6
train_df.loc[(train_df['Age'] > 40) & (train_df['Age'] <= 46), 'Age_group'] = 7
train_df.loc[(train_df['Age'] > 46) & (train_df['Age'] <= 50), 'Age_group'] = 8
train_df.loc[(train_df['Age'] > 50) & (train_df['Age'] <= 60), 'Age_group'] = 9
train_df.loc[ train_df['Age'] > 60, 'Age_group'] = 10

test_df.loc[ test_df['Age'] <= 10, 'Age_group'] = 0
test_df.loc[(test_df['Age'] > 10) & (test_df['Age'] <= 16), 'Age_group'] = 1
test_df.loc[(test_df['Age'] > 16) & (test_df['Age'] <= 20), 'Age_group'] = 2
test_df.loc[(test_df['Age'] > 20) & (test_df['Age'] <= 26), 'Age_group'] = 3
test_df.loc[(test_df['Age'] > 26) & (test_df['Age'] <= 30), 'Age_group'] = 4
test_df.loc[(test_df['Age'] > 30) & (test_df['Age'] <= 36), 'Age_group'] = 5
test_df.loc[(test_df['Age'] > 36) & (test_df['Age'] <= 40), 'Age_group'] = 6
test_df.loc[(test_df['Age'] > 40) & (test_df['Age'] <= 46), 'Age_group'] = 7
test_df.loc[(test_df['Age'] > 46) & (test_df['Age'] <= 50), 'Age_group'] = 8
test_df.loc[(test_df['Age'] > 50) & (test_df['Age'] <= 60), 'Age_group'] = 9
test_df.loc[ test_df['Age'] > 60, 'Age_group'] = 10

In [42]:
# 사용하지 않는 Age 제거
train_df = train_df.drop(['Age'], axis=1)
test_df = test_df.drop(['Age'], axis=1)

In [43]:
train_df.shape, test_df.shape

((891, 7), (418, 7))

In [44]:
train_df.isnull().sum()

Survived     0
Pclass       0
Sex          0
SibSp        0
Parch        0
Embarked     0
Age_group    0
dtype: int64

In [46]:
train_df.head(5)

   Survived  Pclass  Sex  SibSp  Parch  Embarked  Age_group
0         0       3    0      1      0       2.0        3.0
1         1       1    0      1      0       0.0        6.0
2         1       3    0      0      0       2.0        3.0
3         1       1    0      1      0       2.0        5.0
4         0       3    0      0      0       2.0        5.0

In [47]:
test_df.head(5)

   PassengerId  Pclass  Sex  SibSp  Parch  Embarked  Age_group
0          892       3    0      0      0         1        5.0
1          893       3    0      1      0         2        8.0
2          894       2    0      0      0         1       10.0
3          895       3    0      0      0         2        4.0
4          896       3    0      1      1         2        3.0

#모델 훈련시키기

In [ ]:
# Get cpu or gpu device for training.
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

# Define model
class NeuralNetwork(nn.Module):
    def __init__(self):
        super(NeuralNetwork, self).__init__()
        self.flatten = nn.Flatten()
        self.linear_relu_stack = nn.Sequential(
            nn.Linear(28*28, 512),
            nn.ReLU(),
            nn.Linear(512, 512),
            nn.ReLU(),
            nn.Linear(512, 10)
        )

    def forward(self, x):
        x = self.flatten(x)
        logits = self.linear_relu_stack(x)
        return logits

model = NeuralNetwork().to(device)
print(model)

In [ ]:
test_Accuracy=[]
test_Loss=[]
train_Loss=[]

In [ ]:
loss_fn = nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=1e-3)

In [ ]:
def train(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    model.train()
    TRAIN_LOSS=0
    for batch, (X, y) in enumerate(dataloader):
        
        X, y = X.to(device), y.to(device)

        # Compute prediction error
        pred = model(X)
        loss = loss_fn(pred, y)

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 100 == 0:
            loss, current = loss.item(), batch * len(X)
            TRAIN_LOSS+=loss
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")
    TRAIN_LOSS = TRAIN_LOSS/10
    train_Loss.append(TRAIN_LOSS)

In [ ]:
def test(dataloader, model, loss_fn):
    size = len(dataloader.dataset)
    num_batches = len(dataloader)
    model.eval()
    test_loss, correct = 0, 0
    with torch.no_grad():
        for X, y in dataloader:
            X, y = X.to(device), y.to(device)
            pred = model(X)
            test_loss += loss_fn(pred, y).item()
            correct += (pred.argmax(1) == y).type(torch.float).sum().item()
    test_loss /= num_batches
    correct /= size
    test_Accuracy.append(100*correct)
    test_Loss.append(test_loss)
    print(f"Test Error: \n Accuracy: {(100*correct):>0.1f}%, Avg loss: {test_loss:>8f} \n")

In [ ]:
epochs = 300
for t in range(epochs):
    print(f"Epoch {t+1}\n-------------------------------")
    train(train_dataloader, model, loss_fn, optimizer)
    test(test_dataloader, model, loss_fn)
print("Done!")